*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 3px solid black;
    min-height: 1200px;
    width: 100%;
}
/* NAVIGATION SECTION */
nav{
min-height: 50px;
width: 100%;
background-color: black;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
}
ul{
    display: flex;
    gap: 10px;
}
li{
    list-style: none;
}
.logo img{
    height: 60px;
    width: 60px;
    
}
section{
    min-height: 150px;
    width: 100%;
    

}
/* HER SECTION */
.hero{
    background: url(./Images/Scenery2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.hero img{
    height: 80px;
    width: 80px;
}
.hero div{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero p{
    width: 30%;
    text-align: center;
    padding-top: 20px;
}
/* ABOUT */
.about{
    background: rgb(57, 57, 96);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 20px;
}
.sectwo-text{
    width: 80%;
    
}
.sectwo-logo{
    max-width: 50%;
    height: auto;
}
    
footer{
    min-height: 100px;
    width: 100%;
    border: 2px solid black;
    
    
    

}